* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #7C0A02; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #7C0A02, #660700, #540702, #460500, #3c0500, #2a0401);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    border-radius: 20px;
    width: 600px;
    background: #F9FAFB;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0 15px;
}

.content .quote-text {
    display: flex;
    justify-content: center;
}

.quote-text i {
    font-size: 15px;
}

.quote-text i:first-child {
    margin: 3px 10px 0 0;
}

.quote-text i:last-child {
    margin: 0 0 3px 10px;
}

.quote-text .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.content .author {
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .options {
    border-top: 1px solid #ccc;
}

.options .options-items {
    align-items:center;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.options-items ul {
    display: flex;
}

.options-items ul li {
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #7C0A02;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #7C0A02;
    transition: all 0.3s ease;
}

.options-items ul li:hover {
    color: #F9FAFB;
    background: #7C0A02;
}

.options-items button {
    border: 2px solid #7C0A02;
    outline: none;
    padding: 13px 22px;
    color: #F9FAFB;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    background:#7C0A02;
}

.options-items button:hover {
    color:#7C0A02;
    background: #F9FAFB;
    border: 2px solid;
}

button.loading {
    pointer-events: none;
    opacity: 0.7;
}

.collapsible {
    background: none;
    border: none;
    font-size: 20px;
}

.blessings {
    display: none;
    margin: 10px 0 0;
}

.blessed-wrapper {
    margin: 0px 0px 15px;
    transform: translate(20px, 0);
}

/* Screens 650px or less */
@media screen and (max-width: 650px) {
    .wrapper {
        margin: 0px 30px;
    }

    .wrapper .content {
        margin: 25px 0 10px;
    }

    .wrapper header {
        font-size: 28px;
    }

    .quote-text .quote {
        font-size: 20px;
    }

    .content .author {
        font-size: 16px;
    }

    .blessed-wrapper {
        margin: 0 0 10px;
    }
}

/* Screens 500px or less */
@media screen and (max-width: 500px) {
    .options-items button {
        font-size: 14px;
    }

    .wrapper header {
        font-size: 22px;
    }

    .quote-text .quote {
        font-size: 18px;
    }

    .content .author {
        font-size: 14px;
    }

    .blessings {
        margin: 5px 0 0;
    }

    .blessings p {
        font-size: 14px;
    }

    .collapsible {
        font-size: 16px;
    }
}

/* Screens 415px or less */
@media screen and (max-width: 415px) {
    .options-items button {
        padding: 12px 15px;
    }

    .wrapper .content {
        margin: 20px 0 5px;
    }

    .wrapper header {
        font-size: 20px;
    }
}

/* Screens 401px or less */
@media screen and (max-width: 401px) {
    .options-items button {
        padding: 10px 13px;
    }

    .options-items ul li {
        height: 40px;
        width: 40px;
    }

    .wrapper header {
        font-size: 18px;
    }

    .quote-text .quote {
        font-size: 16px;
    }

    .blessed-wrapper {
        margin: 0 0 5px;
    }
}